nav{
    display: flex;
    justify-content: space-between;
    padding: 20px 24px;
    align-items: center;
}

nav ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    gap: 24px;
    padding-block: 8px;
    align-items: center;
}

ul li:last-child img{
    width: 40px;
    height: 40px;
}